/**Start of the logo styling*/
img {
    height: 75px;
    width: 75px;
}

.top-toolbar {
    background: linear-gradient(90deg, #3a9ad9, #1c6ba0);
    color: white;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.toolbar-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.toolbar-content p {
    margin: 0;
    color: white;
}

.separator {
    color: white;
    margin: 0 10px;
}

.toolbar-content a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-right: 25px;
}


.toolbar-content a:hover {
    opacity: 0.8;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f7fa;
    color: #333
}

/*Start of the header styling*/
.header-display {
    background: white;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

h1 {
    color:#ffa500;
    -webkit-text-stroke: 0px black;
}


/*Start of the table styling*/
.data-display {
    margin-top: 20px;
    width: 48%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, .05);
    margin-left: 200px;
    float: none;
    display: inline-block;
    vertical-align: top;
}

.data-display th,
.data-display td {
    padding: 12px 16px;
    text-align: left;
}

.data-display thead {
    background: linear-gradient(90deg, #3a9ad9, #1c6ba0);
    color: white;
}

.data-display tbody tr {
    background: white;
    transition: background 0.3s;
    border-bottom: 1px solid black;
}

.data-display tbody tr:hover {
    background: #ffa500;
}

.data-display tbody tr:last-child {
    border-bottom: none;
}

/*Start of the search table styling*/
.search-data-display {
    margin: 20px auto 0 auto;
    width: 50%;
    border-collapse: collapse;
    background: orange;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, .05);
}

.search-data-display th,
.search-data-display td {
    padding: 12px 16px;
    text-align: left;
}

.search-data-display thead {
    background: linear-gradient(90deg, #3a9ad9, #1c6ba0);
    color: white;
}

.search-data-display tbody tr {
    background: white;
    transition: background 0.3s;
    border-bottom: 1px solid black;
}

.search-data-display tbody tr:hover {
    background: #ffa500;
}

.search-data-display tbody tr:last-child {
    border-bottom: none;
}

/*Start of the sensor data display styling*/
.sensor-data-display {
    margin-top: 20px;
    width: 40%;
    border-collapse: collapse;
    background: orange;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, .05);
    float: left;
    margin-left: 20px;
}

.sensor-data-display th,
.sensor-data-display td {
    padding: 12px 16px;
    text-align: left;
}

.sensor-data-display thead {
    background: linear-gradient(90deg, #3a9ad9, #1c6ba0);
    color: white;
}


.sensor-data-display tbody tr {
    background: white;
    transition: background 0.3s;
    border-bottom: 1px solid black;
}

.sensor-data-display tbody tr:hover {
    background: #ffa500;
}

.sensor-data-display tbody tr:last-child {
    border-bottom: none;
}

/*Start of the packaging data display styling*/
.packaging-data-display {
    margin-top: 100px;
    width: 40%;
    border-collapse: collapse;
    background: orange;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, .05);
    /* float: left;
    margin-left: 20px;
    clear: left; */
}

.packaging-data-display th,
.packaging-data-display td {
    padding: 12px 16px;
    text-align: left;
}

.packaging-data-display thead {
    background: linear-gradient(90deg, #3a9ad9, #1c6ba0);
    color: white;
}

.packaging-data-display tbody tr {
    background: white;
    transition: background 0.3s;
    border-bottom: 1px solid black;
}

.packaging-data-display tbody tr:hover {
    background: #ffa500;
}

.packaging-data-display tbody tr:last-child {
    border-bottom: none;
}

.search-container {
    text-align: center;
    margin-bottom: 30px;
}

#searchInput {
    width: 400px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: all 0.2s ease;
}

#searchInput:focus {
    outline: none;
    border-color: #3a9ad9;
    box-shadow: 0 0 6px rgba(58, 154, 217, 0.4);
}


/*Styling the Caption*/
caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}
