/**Start of the logo styling*/
img {
    height: 75px;
    width: 75px;
}

.top-toolbar {
    background-color: lightblue;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.toolbar-content {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 10px;
}

.toolbar-content p {
    margin: 0;
}

.toolbar-content a {
    margin-right: 50px;
}

* {
    margin: 0;
    padding: 0;
}

/*Start of the table styling*/
.data-display {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
    background: orange;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0, .05);
}

.data-display th,
.data-display td {
    padding: 12px 16px;
    text-align: left;
}

.data-display thead {
    background: lightblue;
    color: black;
}

.data-display tbody tr {
    border-bottom: 1px solid black;
}

.data-display tbody tr:hover {
    background: white;
}

.data-display tbody tr:last-child {
    border-bottom: none;
}
