h1 {
    text-align: center;
}

.password-modal {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}   

.password-modal label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.password-modal input {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btnResetPassword {
    width: 50%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message-box {
    margin-top: 10px;
    text-align: center;
}