<!--
    Title: index.html
    Author: Connor Smith
    Description: Home page for the inventory dashboard.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HawkEye Inventory Systems</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css')}}">
</head>
<body>
    <div class="top-toolbar">
        <img src="{{ url_for('static', filename='CapstoneLogoWhiteText.png') }}" alt="HawkEye Inventory Systems Logo">
        <div class="toolbar-content">
            <p id="user-greeting">Hi, <span id="username"></span></p>
            <span class="separator">|</span>
            <a href="/" id="logout-link">Log out</a>
        </div>
    </div>

    <!-- Responsive Navbar -->
    <nav class="navbar">
        <div class="nav-container">
            <ul class="nav-links">
                <li><a href="/index" class="nav-link">Home</a></li>
                <li><a href="/search" class="nav-link">Search</a></li>
                <li><a href="/start-order" class="nav-link">Start Order</a></li>
                <li><a href="/users" class="nav-link">Users</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>

    <div class="header-display">
        <h1>Dashboard</h1>
    </div>

    <table class="sensor-data-display">
        <thead>
            <tr>
                <th>Sensor ID</th>
                <th>Last Hour Production</th>
                <th>Total Production Today</th>
            </tr>
            <tbody id="sensor-data-table">
                <!--Temporary Data-->
                <tr>
                    <td>Sensor 1</td>
                    <td>120 units</td>
                    <td>800 units</td>
                </tr>
            </tbody>
        </thead>
    </table>

    <table class="data-display">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody id="data-table"></tbody>
    </table>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='navbar.js') }}"></script>
</body>
</html>